<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8"/>
    <title>アナリティクス</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <h1>アナリティクス</h1>

</body>
</html>
<script>

function get_like_date() {

    const urlParams = new URLSearchParams(window.location.search);
    const item_id = urlParams.get('item_id');
    const url = './api/get_item_like?item_id='+ item_id;

    // リクエストを送信
    fetch(url)
    .then(response => response.json())
    .then(data => {
        console.log(data);

        for (const date in data) {
            if (data.hasOwnProperty(date)) {
                console.log(`${date}: ${data[date]}`);
            }
        }
    })
    .catch(error => {
        // エラーハンドリング
        console.error('Error fetching data:', error);
    });
}

</script>