{% extends "layout.html" %}

{% block content %}
<h1>アナリティクス</h1>

<button onclick="window.history.back();">戻る</button>

<canvas id="myLineChart"></canvas>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        get_like_date();
    });

    function get_like_date() {
        const urlParams = new URLSearchParams(window.location.search);
        const item_id = urlParams.get('item_id');
        const url = './api/get_item_like?item_id='+ item_id;

        // リクエストを送信
        fetch(url)
        .then(response => response.json())
        .then(data => {
            let keys = Object.keys(data);
            let values = Object.values(data);
            render_chart(keys, values);
        })
        .catch(error => {
            // エラーハンドリング
            console.error('Error fetching data:', error);
        });
    }

    function render_chart(keys, values){
        // データ
        const data = {
            labels: keys,
            datasets: [{
                label: 'いいね数',
                data: values,
                borderColor: "green",
                backgroundColor: "rgba(0,255,0,0.2)",
                fill: true
            }]
        };

        // グラフのオプション
        const options = {
            scales: {
                yAxes: [
                    {
                        ticks: {
                            suggestedMin: 0,
                        }
                    }
                ]
            }
        };

        // グラフを描画
        const ctx = document.getElementById('myLineChart');
        const myLineChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: options
        });
    }


</script>
{% endblock %}

